<!DOCTYPE html>
<html lang="en" th:replace="~{layoutFile :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
<section>
<h1>Editing Room</h1>
<turbo-frame id="room">
    <form action="/rooms/update" accept-charset="UTF-8" method="post">
        <input type="hidden" th:value="${room.id}" name="id">
        <div class="field">
            <label for="room_name">Name</label>
            <input type="text" th:value="${room.name}" name="name" id="room_name" />
        </div>
        <div class="actions">
            <input type="submit" name="commit" value="Update Room"/>
        </div>
    </form>
</turbo-frame>
<a th:href="@{|/rooms/${room.id}|}">Show</a> |
<a href="/rooms">Back</a>
</section>
</html>
