<h1>New Message</h1>

<turbo-frame id="new_message" target="_top">
    <form data-controller="reset-form"
          data-action="turbo:submit-end->reset-form#reset"
          th:action="@{|/rooms/${room.id}/messages|}"
          accept-charset="UTF-8"
          method="post">
        <div class="field">
            <input type="text" name="content" id="message_content">
            <input type="submit" name="commit" value="Send"/>
        </div>
    </form>
</turbo-frame>
<a th:href="@{|/rooms/${room.id}|}">Back</a>